<div class="text block-socialtop">
    <ul class="list-inline social-icons">
      {%- if settings.social_facebook_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {%- render 'icon-facebook' -%}
          <span >Fb</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_twitter_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {%- render 'icon-x' -%}
          <span >X</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {%- render 'icon-pinterest' -%}
          <span>Pin</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {%- render 'icon-instagram' -%}
          <span >Ins</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_tiktok_link != blank -%}
        <li class="list-inline-item">
          <a href="{{ settings.social_tiktok_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'tiktok' }}">
            {%- render 'icon-tiktok' -%}
            <span >Tik</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tumblr_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {%- render 'icon-tumblr' -%}
          <span >Tum</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_snapchat_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {%- render 'icon-snapchat' -%}
          <span >Snap</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {%- render 'icon-youtube' -%}
          <span class="icon__fallback-text">You</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_vimeo_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {%- render 'icon-vimeo' -%}
          <span >Vim</span>
        </a>
      </li>
      {%- endif -%}
    </ul>
  </div>