<!-- cart-template.liquid -->
<style>
    .js-qty__adjust{
      width: 30px;
    }
    .js-qty__input{
      background-color: #fff;
    }

    .page-empty .cart--empty-message {
      font-size:var(--g-font-size);
    }
    .cart-product-card {
      display: flex;
      flex-direction: column;
    }
    .cart-product-card-details {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      {% comment %} width: 100%;   {% endcomment %}
      height: 100%;
      min-width: 160px;
    }
    .tr-container {
      display: flex;
      flex-direction: row;
      padding: inherit 0px;
    }

    .td-product-description-container {
      display: flex;
      flex-direction: column;
      {% comment %} width: 100%; {% endcomment %}
      {% comment %} flex-basis: 70%; {% endcomment %}
    }

    .td-product-description {
      display: flex;
      flex-direction: row;
      {% comment %} flex-basis: 70%; {% endcomment %}
    }
    .td-subtotal {
      flex-basis: 15%;
    }
    
    .td-remove {
      display:flex;
      flex-basis: 15%;
      justify-content: center;
    }

    .td-product-image {
      min-width: 120px;
    }
    .item-details {
      display: flex;
      flex-direction: column;
    }
    .item-details p {
      margin: 0px 0px;
      line-height: 1.2;
    }
    .edit-items {
      display: flex;
      position: relative; /* Defines the element's containing block */
      {% comment %} width: 100%; {% endcomment %}
      margin-top: 10px;
    }

    .ci-wishlist-btn {
      padding-bottom: 0px;
      margin-left: 15px;
      {% comment %} min-width: 100%; {% endcomment %}
    }

    #ci-edit-btn {
      display: flex;
      padding-bottom: 0px;
    }
  </style>
  <div data-section-id="{{ section.id }}" data-section-type="cart">
    <div class="page-width-cart-items">
      {% if cart.item_count > 0 %}
  
        {% comment %} <h2 class="text-center h3 mb-5">{{ 'cart.general.title' | t }}</h2> {% endcomment %}
        <form action="/cart" method="post" novalidate class="cart">
          <table class="responsive-table cart-table">
            <thead class="cart__row visually-hidden">
              <th colspan="2">{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </thead>
            <tbody id="CartProducts">
              <tr class="tr-container" id="tr-container-title">
                <td class="td-product-description-container" >Product description</td>
                <td class="td-subtotal">Subtotal</td>
                <td class="td-remove"> Remove</td>
              </tr>
              {% for item in cart.items %}
                <tr class="tr-container">
                  <td class="td-product-description-container">
                    <div class="td-product-description">
                      <a href="{{ item.url | within: collections.all }}" class="td-product-image">
                        <img src="{{ item | image_url: width:120, height:120 }}" width="120px", height="120px" alt="{{ item.title | escape }}">
                      </a>
                      <div class="cart-product-card-details">
                        <a href="{{ item.url }}" class="h6 text-body">
                          {{ item.product.title }}
                        </a>
                        <span class="cart__item-total-mobile">
                          {{ item.line_price | money }}
                        </span>
                        <div class="item-details">
                          {% for option in item.options_with_values %}
                            <p>{{ option.name }}: {{ option.value }}</p>
                          {% endfor %}
                          <p>QTY: {{ item.quantity }}</p>
                          {% assign property_size = item.properties | size %}
                          {% if property_size > 0 %}
                            {% for p in item.properties %}
                              {% assign first_character_in_key = p.first | truncate: 1, '' %}
                              {% unless p.last == blank or first_character_in_key == '_' %}
                                {{ p.first }}:
                                {% if p.last contains '/uploads/' %}
                                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                {% else %}
                                  {{ p.last }}
                                {% endif %}
        
                              {% endunless %}
                            {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                      {% comment %} <div class="cart__cell--quantity">
                        <label for="Updates_{{ item.key }}" class="cart__quantity-label medium-up--hide">{{ 'cart.label.quantity' | t }}</label>
                        <input type="number" name="updates[]" id="Updates_{{ item.key }}" class="cart__quantity" value="{{ item.quantity }}" min="0" data-line="{{ forloop.index }}" aria-label="{{ 'cart.label.quantity' | t }}">
                      </div> {% endcomment %}
                    </div>
                    <div class="edit-items">
                      <a id="ci-edit-btn" href="#">{% render 'icon-pencil' %} Edit</a>
                      {% if settings.enable_wishlsit %}
                        <span data-tooltip="true" class="js-btn-wishlist ci-wishlist-btn" data-line="{{ forloop.index }}" title="Move to Wishlist" data-handle="{{item.product.handle}}">
                          {%- render 'icon-heart' -%}
                          {% comment %} <div class="wishlist-text">Move to Wishlist</div> {% endcomment %}
                        </span>
                      {% endif %}
                    </div>
                  </td>
                  <td class="td-subtotal">
                    <div class="">
                      <span class="cart__item-total">
                        {{ item.line_price | money }}
                      </span><br>
                      {% if item.original_line_price != item.line_price %}
                        <small class="cart-item__original-price cart__item-total"><s>{{ item.original_line_price | money }}</s></small>
                      {% endif %}
                      {% for discount in item.discounts %}
                        <p class="cart-item__discount cart__item-total">{{ discount.title }}</p>
                      {% endfor %}
                    </div>
                  </td>
                  <td class="td-remove">
                    <div>
                      <a class="small" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{% render "icon-remove" %}</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% render 'free-shipping' %}
          <div class="row cart__row">
            {% if section.settings.cart_notes_enable %}
            <div class="col-md-6">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart__note">{{ cart.note }}</textarea>
            </div>
            {% endif %}
            {% comment %} <div class="col text-center text-md-right">
              <p class="h3 cart__subtotal " id="CartSubtotal">{{ cart.total_price | money }}</p>
              <p id="cartDiscountTotal">
                {% if cart.total_discounts > 0 %}
                {% assign savings = cart.total_discounts | money %}
                {{ 'cart.general.savings_html' | t: price: savings }}
                {% endif %}
              </p>
              
  
              {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
              {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
              {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
              {%- endcapture -%}
  
              <p class="cart__taxes rte">{{ taxes_shipping_checkout }}</p>
              <button type="submit" name="update" class="btn--secondary update-cart">{{ 'cart.general.update' | t }}</button>
              <button type="submit" name="checkout" class="btn btn-theme gradient-theme btn-cart-checkout">{{ 'cart.general.checkout' | t }}</button>
  
              {% if settings.safe_checkout_cart != blank %}
              <div class="cart-safe-checkout">
                <img class="lazyload" data-src="{{ settings.safe_checkout_cart | img_url: '300x' }}"/>
              </div>
              {% endif %}
            </div> {% endcomment %}
          </div>
        </form>
      {% else %}
        <div class="page-empty text-center">
          {% comment %} <h1>{{ 'cart.general.title' | t }}</h1> {% endcomment %}
          <p class="cart--empty-message">You have <b>no items</b> in you Bag.</p>
          <hr>
          <p class="cart--continue-message">
            <a href="/collections/all" class="btn btn-theme gradient-theme">{{ 'cart.general.continue_browsing' | t }}</a>
          </p>
          <p class="cart--cookie-message">{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      {% endif %}
      
    </div>
    <script id="CartProductTemplate" type="text/template">
      {% raw %}
        {{#items}}
        <tr class="cart__row responsive-table__row">
          <td class="cart__cell--image text-center">
            <a href="{{ url }}" class="cart__image">
              <img src="{{ img }}" alt="{{ name }}">
            </a>
          </td>
          <td>
            <a href="{{ url }}" class="h5">
              {{{ name }}}
            </a>
            {{#if variation}}
              <p>{{variation}}</p>
            {{/if}}
  
            {{#properties}}
              {{#each this}}
                {{#if this}}
                  <p>{{@key}}: {{this}}</p>
                {{/if}}
              {{/each}}
            {{/properties}}
  
            <p>
              <a class="small" href="/cart/change?line={{ line }}&amp;quantity=0">{% endraw %}{{ 'cart.general.remove' | t }}{% raw %}</a>
            </p>
          </td>
          <td class="cart__cell--quantity">
            <label for="Updates_{{ key }}" class="cart__quantity-label medium-up--hide">
              {% endraw %}{{ 'cart.label.quantity' | t }}{% raw %}</label>
            <input type="number" name="updates[]" id="Updates_{{ key }}" value="{{ itemQty }}" min="0" data-line="{{ line }}" aria-label="{% endraw %}{{ 'cart.label.quantity' | t }}{% raw %}">
          </td>
          <td class="cart__cell--total">
            {{#if discountsApplied}}
              <small class="cart-item__original-price cart__item-total"><s>{{{originalLinePrice}}}</s></small><br>
              <span class="cart__item-total">{{{linePrice}}}</span>
            {{else}}
              <span class="cart__item-total">{{{linePrice}}}</span>
            {{/if}}
            {{#if discountsApplied}}
            {{#each discounts}}
              <p class="cart-item__discount cart__item-total">{{ this.title }}</p>
              {{/each}}
            {{/if}}
          </td>
        </tr>
        {{/items}}
      {% endraw %}
    </script>
  </div>
  
  <script type="application/json" id="CartJson-{{ section.id }}">
    {{ cart | json }}
  </script>
  
  
  
  {% comment %} {% schema %}
  {
    "name": "Cart pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable order notes",
        "default": true
      }
    ]
  }
  {% endschema %} {% endcomment %}
  