<!-- product-grid-3.liquid -->
<div class="product-card js-product-card product-card--style3" data-price="{{ product.price }}">
  <div class="product-card__image-wr transition overflow-hidden">
    {%- assign image = product.featured_image -%}
    <a class="product-card__image js" href="{{ product.url | within: collection }}" style="max-width: 680px;" data-image-id="{{ image.id }}">
      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload transition first-image"
           data-src="{{ img_url }}"
           src="{%- include 'srcBlank' -%}"
           data-sizes="auto"
           alt="{{ image.alt | escape }}">
      {% include 'second-image'%}
    </a>
    <div class="product-card__overlay d-flex justify-content-center flex-column">
      {%- if settings.enable_wishlsit -%}
      <span data-toggle="tooltip" data-placement="left" data-tooltipalltimes="true" class="btn gradient-theme-vertical product-card__overlay-btn js-btn-wishlist" title="{{ 'products.product.wishlist_text' | t }}" data-handle="{{product.handle}}">
        {%- include 'icon-heart' -%}
      </span>
      {%- endif -%}
      {%- assign variantCount = product.variants | size -%}
      {%- if variantCount > 1 -%}
      <a href="{{ product.url | within: collection }}" data-tooltip="true" data-placement="left" class="btn product-card__overlay-btn btn-grid-cart" title="{{ 'products.product.view' | t }}">
        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-right fa-w-14 fa-3x"><path fill="currentColor" d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg>
        <span>{{ 'products.product.view' | t }}</span>
      </a>
      {%- else -%}
      <span data-tooltip="true" data-placement="left" class="btn product-card__overlay-btn js-grid-cart btn-grid-cart {% unless product.available %} hide{% endunless%}" title="{{ 'products.product.add_to_cart' | t }}" data-id="{{product.selected_or_first_available_variant.id}}">
        {%- include 'icon-cart' -%}
        <div class="product-card__loading spinner-{{settings.loading}}" role="status"></div>
        <span>{{ 'products.product.add_to_cart' | t }}</span>
      </span>
      {%- endif -%}

      <span data-tooltip="true" data-placement="left" class="btn product-card__overlay-btn js-btn-quickview" title="{{ 'products.product.quickview_text' | t }}" data-toggle="modal" data-target="#jsQuickview" data-handle="{{product.handle}}">
        {%- include 'icon-quickview' -%}
        <span>{{ 'products.product.quickview_text' | t }}</span>
      </span>

      {%- if settings.enable_compare -%}
      <span data-tooltip="true" data-placement="left" class="btn product-card__overlay-btn js-btn-compare" title="{{ 'products.product.compare_text' | t }}" data-handle="{{product.handle}}">
        {%- include 'icon-exchange' -%}
        {%- include 'icon-close' -%}
        <span>{{ 'products.product.compare_text' | t }}</span>
      </span>
      {%- endif -%}
    </div>
    {%- if settings.enable_countdown_card -%}{%- include 'product-countdown' -%}{%- endif -%}
    {%- if settings.enablevideo -%}
      {% for media in product.media %}
        {% render 'productVideo', media: media %}
      {% endfor %}
    {%- endif -%}
    {% include 'product-label' %}
  </div>
  <div class="product-card__info">

    <a href="{{ product.url | within: collection }}" title="{{product.title}}" class="product-card__name {% if settings.t_product %} text-uppercase {% endif %} ">{{ product.title }}</a>

    {%- if product.available -%}
    <div class="product-card__price">
      {%- if product.compare_at_price > product.price -%}
      {%- if product.price_varies -%}
      {%- assign sale_price = product.price | money -%}
      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {%- else -%}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      {{ product.price | money }}
      <s class="product-card__regular-price">{{ product.compare_at_price | money }}</s>
      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
      
      {%- endif -%}
      {%- else -%}
      {%- if product.price_varies -%}
      {%- assign price = product.price | money -%}
      {{ 'products.product.from_text_html' | t: price: price }}
      {%- else -%}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      {{ product.price | money }}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- else -%}
    <div class="product-card__availability">
      {{ 'products.product.sold_out' | t }}
    </div>
    {%- endif -%}
  </div>
</div>